OtakuAssistant/SampleData/SampleWord/SampleWord.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleWord" targetNamespace="Blend.SampleData.SampleWord" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleWord" type="tns:SampleWord" />
  <xs:complexType name="SampleWord">
    <xs:sequence>
      <xs:element name="Words" type="tns:Words" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Words">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WordsItem" type="tns:WordsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WordsItem">
    <xs:sequence>
      <xs:element name="Meanings" type="tns:Meanings" />
    </xs:sequence>
    <xs:attribute name="Hanzi" type="xs:string" />
    <xs:attribute name="Traditional" type="xs:string" />
    <xs:attribute name="ThumbTranslation" type="xs:string" />
    <xs:attribute name="ThumbPinyin" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Meanings">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MeaningsItem" type="tns:MeaningsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeaningsItem">
    <xs:sequence>
      <xs:element name="Pinyins" type="tns:Pinyins" />
      <xs:element name="Translations" type="tns:Translations" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pinyins">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PinyinsItem" type="tns:PinyinsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PinyinsItem">
    <xs:attribute name="Value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Translations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TranslationsItem" type="tns:TranslationsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TranslationsItem">
    <xs:attribute blend:FormatParameters="8,8" name="Value" type="xs:string" />
  </xs:complexType>
</xs:schema>